* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --first-color: #F9F7F7;
    --second-color: #DBE2EF;
    --third-color: #112D4E;
    --forth-color: #3F72AF;
    font-family: 'Roboto',sans-serif;
}

body {
    background-color: var(--first-color);
    line-height: 1.5;
}

.no-overflow {
    overflow: hidden;
}

.button {
    color: var(--first-color);
    font-size: 16px;
    border: 0.3em solid var(--third-color);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 1em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}

.button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--third-color);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.button:hover {
    color: var(--first-color);
}

.button:hover span {
    transform: translateY(0) scale(2);
}

.button span:nth-child(1) {
    --n: 1;
}

.button span:nth-child(2) {
    --n: 2;
}

.button span:nth-child(3) {
    --n: 3;
}

.button span:nth-child(4) {
    --n: 4;
}

/* loader */
.loader {
    z-index: 1111;
    position: fixed;
    top: 0;
    left : 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    transition: opacity 0.75s, visilbility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from { transform: rotate(0turn)}
    to { transform: rotate(1turn)}
}

/* header header */
header {
    background-color: var(--second-color);
    position: fixed;
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20em;
    font-size: 1.1em;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    user-select: none;
    z-index: 111;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    text-align: center;
}

nav ul li h4{
    display: block;
    padding: 10px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 10px;
    font-size: .85em;
    color: var(--third-color);
    transition: color 1s;
}

nav ul li,
nav ul li:after,
nav ul li:before {
  transition: all .5s;
}

nav ul li h4:hover {
  color: var(--first-color);
}

nav ul li h4{
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

nav ul li h4:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}

nav ul li h4:hover:after {
    animation: circle 1.5s ease-in forwards;
}

@keyframes circle {
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: var(--third-color);
      border-radius: 100%;
    }
    100% {
      background: var(--forth-color);
      height: 5000%;
      width: 5000%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }
  }

/* switch switch */
#switch {
    height: 2em;
    cursor: pointer;
}

#rectDark {
    opacity: 0;
}

#moon_spots {
    opacity: 0;
}

#stars {
    transform: translateY(-100%);
}


/* section */
section {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container */

.container {
    width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* intro section */
.intro {
    padding-top: 10%;
}

.intro-text {
    width: 50%;
}

.intro h1 {
    color: var(--third-color);
    font-size: 3em;
    padding-bottom: 10%;
    padding-top: 25%;
}

.intro p {
    width: 85%;
    font-weight: 300;
    font-size: 1.2em;
    color: var(--third-color);
}

.intro .links {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-top: 8%;
    gap: 1em;
}

.intro svg {
    height: 3em;
    fill: var(--third-color);
    transition: fill 300ms ease-in;
}

.intro .links svg {
    width: 100%;
}

.intro svg:hover {
    fill: var(--forth-color);
}

#cv {
    height: 2.7em;
    transition: 300ms;
}

#cv path, #cv circle, #cv rect {
    stroke: var(--first-color);
}

#cv circle {
    fill: var(--third-color);
}

#cv line {
    stroke: var(--first-color);
}

#rectangle1, #rectangle2 {
    fill: var(--third-color);
}

#cv:hover #rectangle1 {
    fill: var(--forth-color);
}

#cv:hover #rectangle2 {
    fill: var(--forth-color);
}

#cv:hover circle {
    fill: var(--forth-color);
}

.intro .imageDiv {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

.intro img {
    width: 100%;
}

.tech-stack h2 {
    width: 40%;
}

.intro .tech-stack {
    width: 150%;
    padding-top: 20%;
    color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* about */
.intro {
    display: flex;
}

.coding-image {
    max-width: 480px;
    height: 333px;
    border-radius: .7rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.coding-image img {
    height: 100%;
}

.about-text {
    max-width: 430px;
    height: 333px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h5 {
    font-size: 1.3rem;
    color: var(--forth-color);
    font-weight: 1000;
    margin-bottom: 2%;
}

h4 {
    color: var(--third-color);
    margin-bottom: 2%;
}

.about p {
    color: var(--third-color);
    font-weight: 300;
}

/* projects */
.projects {
    height: fit-content;
    flex-direction: column;
    gap: 3rem;
}

.projects-header {
    color: var(--forth-color);
    padding-bottom: 1%;
}

.projects-text {
    color: var(--third-color);
    padding-bottom: 2%;
    text-align: center;
}

.project {
    width: 60rem;
    max-height: 53%;
    height: 25rem;
    padding: 1.2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 7%;
}

.car-rental {
    justify-content: flex-end;
    gap: 5rem;
}

.project-image-div {
    max-width: 50%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-radius: 1rem;
    overflow: hidden;
    transform: translateY(0%);
}

.project-image {
    width: 100%;
    transition: transform 5s ease-in-out 0s;
}

.photographers-image:hover {
    transform: translateY(-73%);
}

.car-image:hover {
    transform: translateY(-79%);
}

.project-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    max-width: 35%;
    height: 100%;
    text-align: center;
    text-transform: none;
    color: var(--third-color);
}

.project-techs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.project-techs p {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    font-family: Mulish,sans-serif!important;
    font-weight: 600!important;
    padding: 1rem 1.3rem;
}

.project-links {
    margin-top: 5%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5%;
}

.project-link {
    width: 50%;
    text-decoration: none;
    border-radius: 25px;
    color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    font-weight: 500;
}

.project-link:hover {
    color: var(--forth-color);
}

/* contact contact */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-form {
    width: 60rem;
    max-height: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.form-parent form{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form input {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 50px;
    border: none;
}

form textarea {
    width: 100%;
    height: 12em;
    border: none;
    border-radius: 25px;
    padding: 20px 30px 0 50px;
    resize: none;
}

.form-submit {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 1000;
    font-size: 1em;
    background-color: var(--first-color);
    color: var(--third-color);
    transition: 300ms;
}

@media only screen and (max-width: 1400px) {
    section {
        height: 100vh;
    }
}



@media only screen and (max-width: 1000px) {

    header {
        height: 5%;
    }

    nav.container {
        justify-content: center;
    }

    section {
        height: fit-content;
        width: 100%;
        padding-top: 5em;
    }

    .container {
        min-width: 95%;
    }

    nav ul {
        display: none;
    }

    .intro .container {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 2em;
    }

    .intro .intro-text {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro h1 {
        padding-top: 10%;
    }

    .intro .tech-stack {
        width: 100vw;
    }

    .coding-image {
        width: 95%;
    }

    .about-text {
        width: 95%;
        text-align: center;
    }
    
    .project {
        width: 95%;
        flex-direction: column;
        height: auto;
    }

    .car-rental {
        flex-direction: column-reverse;
        gap: 0;
    }

    .project-image-div {
        max-width: 100%;
        height: 15em;
    }

    .photographers-image:hover {
        transform: translateY(-75%);
    }
    
    .car-image:hover {
        transform: translateY(-80%);
    }

    .project-text {
        max-width: 100%;
        padding-top: 2em;
        gap: .7em;
    }

    .about .container {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .contact {
        height: fit-content;
    }

    .contact-form {
        width: 95%;
        flex-direction: column;
        margin-bottom: 2em;
    }

    .form-parent {
        width: 100%;
    }

    .contact-form form {
        width: 100%;
    }

    .contact-form input {
        width: 100%;
    }
}